.label {
    -fx-text-fill: blue;
}

#registerTaskInfos {
    -fx-spacing: 10px;
    -fx-alignment: "top-center";
}

#task {
    -fx-pref-width: 300px;
}

#errorRegisterTask {
    -fx-text-fill: red;
}
